<%- include("../components/header.ejs") %>

<!-- Main-Container -->
<div class="container">
  <% if(locals.error){ %>
    <div class="jumbotron">
        <h1 class="header-title text-col-dark title title-fw-b title title-fw-b"><%= locals.error %> :/</h1>
        <h5 class="header-text text">we're really sorry but we've not found an article related to what you're looking for...</h5>
        <h6 class="header-text text my-3">Hey, don't cry you can find more articles <a href="home" class="text-col-active">here.</a></h6>
    </div>
<% }else{ %>

  <!-- Featured-Article --> 
    <% if(locals.articles){ %>
    <a href="<%= locals.articles[0].url %>">
      <div class="jumbotron featured-bx m-0 p-4 p-md-5 text-white rounded"> 
        <img src="<%= locals.articles[0].image %>" class="featured-img banner-img"> 
        <div class="overlay"></div>
        <div class="col-md-6 featured-content px-0 my-4"> 
          <h2 class="display-6 title title-fw-b"><%= locals.articles[0].title %></h2>
          <p class="lead my-3 text text-fw-sb">
            <%= locals.articles[0].content.slice(0,150) %>...
          </p>
        </div>
      </div> 
    </a>
    <% } %>
  <!-- */Featured-Article -->



  <!-- Articles-Suggestion -->
  <div class="suggestion-section mt-3">
    <div class="section-header pt-3">
      <h3 class="header-title text-col-dark title title-fw-b title title-fw-b">Latest</h3>
      <p class="header-text text">Get access to the most favorable informations</p>
      <hr>
    </div>
    <div class="row">
     
      <% if(locals.articles && locals.articles.length > 1){ 
        let i = 0;
        for(article of locals.articles){
          if(i > 0 && i <= 6){
          %>
      <!-- Article-Item -->
      <div class="article-bx col-4">
        <div class="card">
           <div class="card-header">
              <div class="card-overlay img-overlay"></div>
              <img src="<%= article.image %>" alt="news-article-image" />
           </div>
           <div class="card-body">
               <p class="news-info my-3">
                   <span class="news-date"><%= article.publishedAt %></span>
                   <a href="<%= article.source.url %>"><span class="news-category ml-3"><%= article.source.name %></span></a>
                  </p>
               <a href="<%= article.url %>" target="_blank">
                <h6 class="card-title title title-fw-sb my-3">
                  <%= article.title %>
                </h6>
               </a>
               <p class="card-text text">
                <%= article.content.slice(0,90) %>...
               </p> 
           </div> 
           <div class="card-footer d-flex justify-content-between"> 
            <a href="<%= article.url %>" target="_blank">Read more</a>
           </div>
        
       </div>
      </div>
      <!-- Article-Item -->
      <% 
    } 
    i++;
    } 
  } %> 
      
   </div>
  </div>
<!-- */Articles-Suggestion -->


<!-- Articles-Banners -->
<div class="article-banners my-5">
  <div class="section-header pt-3 mb-2">
    <h3 class="header-title text-col-dark title title-fw-b">Featured</h3>
    <p class="header-text">Get access to the most favorable informations</p>
    <hr>
  </div>

<div class="row mb-5 mt-3">

  <% 
  if(locals.articles && locals.articles.length > 7){
    let i = 0;
        for(article of locals.articles){
          if(i > 6 && i <= 8){
  %>
   <!-- Articles-Banners-Item -->
   <div class="col-md-6 article-banner-item">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <!-- Banner-Content -->
      <div class="col-6 p-4 d-flex flex-column position-static">
        <a href="<%= article.source.url %>"><strong class="d-inline-block mb-2 text-col-active"><%= article.source.name %></strong></a>
        <h4 class="mb-0 text-col-dark title title-fw-sb"><%= article.title %></h4> 
        <p class="card-text mb-auto my-2"><%= article.content.slice(0,63) %>...</p>
        <a href="<%= article.url %>" class="stretched-link my-1">Continue reading</a>
      </div>
      <!-- */Banner-Content -->
      <!-- Banner-Img -->
      <div class="col-6 d-lg-block banner-img">
        <img src="<%= article.image %>" alt="" srcset="">
        <div class="img-overlay"></div>
      </div>
      <!-- */Banner-Img -->
    </div>
  </div>
  <!-- */Articles-Banners-Item -->
  <%  
}
i++;
        }
      }
  %>
 

</div>
</div>
<!-- */Articles-Banners -->


<% } %>
</div>
<!-- */Main-Container -->


<%- include("../components/footer.ejs") %>